{% if section.settings.message %}
  <style>
    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

{% include 'search-drawer' %}

<div data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>
  {% if section.settings.message %}
    {% if section.settings.home_page_only == false or request.page_type == 'index' %}
      <style>
        .announcement-bar {
          background-color: {{ section.settings.color_bg }};
        }

        .announcement-bar__link:hover {
          {% assign brightness = section.settings.color_bg | color_brightness %}

          {% if brightness <= 192 %}
            {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
            background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
          {% else %}
            {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
            background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
          {% endif %}
        }

        .announcement-bar__message {
          color: {{ section.settings.color_text }};
        }
      </style>

      <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement_bar_label' | t }}">
        {%- unless section.settings.message_link == blank -%}
          <a href="{{ section.settings.message_link }}" class="announcement-bar__link">
        {%- endunless -%}
            <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>
        {%- unless section.settings.message_link == blank -%}
          </a>
        {%- endunless -%}
      </div>

    {% endif %}
  {% endif %}

  <header class="site-header{% if section.settings.align_logo == 'left' %} border-bottom logo--left{% else %} logo--center{% endif %}" role="banner">

    <!-- custom div page-width-->
    <div class="page-width">
      <div class="grid grid--no-gutters grid--table site-header__mobile-nav">
        <!-- custom grid__item medium-up--one-third text-left -->
        <div class="grid__item medium-up--one-third text-left">
          <nav class="small--hide" id="AccessibleNav" role="navigation">
            {% include 'site-nav', linklist: section.settings.main_linklist %}
          </nav>
        </div>

        <div class="grid__item medium-up--one-third logo-align--center">
          {% if section.settings.align_logo == 'center' %}
          {%- assign logo_classes = 'medium-up--one-third medium-up--push-one-third logo-align--center' -%}
          {% else %}
          {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
          {% endif %}
        
          <div class="grid__item {{ logo_classes }}">
            {% comment %}
            Use the uploaded logo from theme settings if enabled.
            Site name gets precedence with H1 tag on homepage, div on other pages.
            {% endcomment %}
            {% if request.page_type == 'index' %}
            <h1 class="h2 site-header__logo">
              {% else %}
              <div class="h2 site-header__logo">
                {% endif %}
                {% if section.settings.logo %}
                {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <a href="{{ routes.root_url }}"
                  class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}"
                  data-image-loading-animation>
                  {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                  <img class="lazyload js" src="{{ section.settings.logo | img_url: '300x300' }}" data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ section.settings.logo.aspect_ratio }}" data-sizes="auto" alt="{{ logo_alt | escape }}"
                    style="max-width: {{ section.settings.logo_max_width }}px">
                  <noscript>
                    {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                    <img src="{{ section.settings.logo | img_url: image_size }}"
                      srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                      alt="{{ section.settings.logo.alt | default: shop.name }}"
                      style="max-width: {{ section.settings.logo_max_width }}px;">
                  </noscript>
                </a>
                {% else %}
                <a href="/" class="site-header__logo-image site-header__logo-image--centered">
                  <svg width="250px" viewBox="0 0 164 24" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns="http://www.w3.org/2000/svg">
                    <g id="brand/wordmark">
                      <path
                        d="M11.5892 19.2118C9.29616 19.2118 7.80886 17.6004 7.80886 15.5246C7.80886 11.3725 14.0063 5.63997 18.3751 5.63997C19.7693 5.63997 20.4514 6.41411 20.4514 7.59165C20.4514 11.0932 15.4005 13.6034 10.9696 14.781C10.6283 15.4005 10.4737 15.9269 10.4737 16.3614C10.4737 17.2286 10.7835 17.5699 11.8989 17.5699C15.6482 17.5699 23.2709 12.8908 24.1387 9.20307L24.4795 7.7468L22.4347 7.7468L22.9922 5.29864L25.0685 5.29864L25.5334 3.34696C26.1219 0.92983 27.4851 0 29.716 0L32.0406 0L31.4516 2.41766L30.0263 2.41766C28.8488 2.41766 28.477 2.81998 28.1977 3.99752L27.8879 5.29864L30.4907 5.29864L29.9332 7.7468L27.2989 7.7468L24.7582 18.7469L21.9698 18.7469L23.2094 13.2626C20.2968 16.516 15.4315 19.2118 11.5892 19.2118ZM53.7311 15.1218C53.2662 15.6482 53.0185 16.2372 53.0185 16.8258C53.0185 17.9412 53.576 19.2429 56.2718 19.2429C60.6096 19.2429 63.337 17.9412 65.8778 15.5867L65.1651 18.7785L67.9846 18.7785L69.627 11.7133C70.2466 9.10998 71.7654 7.53013 73.7792 7.53013C75.1424 7.53013 75.8865 8.21171 75.8865 9.45131C75.8865 9.73005 75.8865 9.94726 75.8245 10.1639L73.8102 18.7785L76.5992 18.7785L78.6134 10.0088C79.1088 6.94163 77.5595 5.08196 74.7711 5.08196C73.0355 5.08196 71.6408 5.85665 70.5569 7.406L72.2919 0.031565L69.5029 0.031565L66.9312 11.2794C66.2496 14.3161 63.7083 16.547 61.2297 17.1355C62.9026 15.1528 64.0802 13.1075 64.0802 10.8455C64.0802 9.66798 63.5537 8.33583 62.4693 6.78648C63.0578 6.07386 63.337 5.45379 63.337 4.92735C63.337 4.2142 62.9026 3.78031 62.221 3.78031C61.3228 3.78031 60.6412 4.5245 60.6096 6.04283C58.6884 8.27378 57.3563 9.7921 56.6437 10.5047C56.1787 10.9696 56.0241 11.2173 56.0241 11.434C56.0241 11.8058 56.2718 12.0851 56.6437 12.0851C56.8603 12.0851 56.9845 12.0231 57.6971 11.3415C58.3787 10.6904 59.4941 9.51283 61.0745 7.68474C61.3843 8.27378 61.5394 8.86228 61.5394 9.45131C61.5394 11.2484 60.7958 13.0765 59.3395 14.9046C57.9143 16.6711 56.6437 17.6315 55.4972 17.6315C54.6604 17.6315 54.6604 17.2907 54.6604 17.2602C54.6604 16.9188 55.0322 16.8258 55.3115 16.8258C56.5816 16.8258 56.7678 15.927 56.7678 15.5246C56.7678 14.781 56.2718 14.3161 55.4351 14.3161C54.7845 14.3161 54.1955 14.5948 53.7311 15.1218ZM122.025 11.6823L116.231 18.7469L119.826 18.7469L122.8 15.3074C124.287 13.5724 130.082 7.43703 131.538 7.43703C131.693 7.43703 131.724 7.53012 131.724 7.62268C131.724 8.8933 125.62 14.285 125.62 17.074C125.62 18.3756 126.425 19.367 128.161 19.367C130.764 19.367 134.482 16.9499 138.355 12.6736L137.828 14.781C137.735 15.2143 137.674 15.6482 137.674 16.0511C137.674 17.8176 138.82 18.7469 140.865 18.7469L142.848 18.7469L143.406 16.3298L141.826 16.3298C141.113 16.3298 140.555 16.1752 140.555 15.3074C140.555 15.0907 140.586 14.8425 140.648 14.5948L142.198 7.7468L145.141 7.7468L145.699 5.29864L142.787 5.29864L143.499 1.89015L140.741 1.89015L140.028 5.29864L137.55 5.29864L137.023 7.7468L139.47 7.7468L138.975 9.8226C138.572 11.4961 130.764 17.5699 129.028 17.5699C128.873 17.5699 128.718 17.4453 128.718 17.105C128.718 15.6798 134.543 10.5358 134.543 7.65424C134.543 6.94162 134.234 5.73306 132.158 5.73306C131.507 5.73306 130.329 6.04282 127.417 8.27378C127.448 8.11863 127.479 7.93298 127.479 7.7468C127.479 6.29053 126.736 5.48482 125.434 5.48482C124.101 5.48482 122.366 6.75545 120.042 9.20307C118.956 10.3492 118.957 10.468 118.958 10.6733L118.958 10.6904C118.958 11.0627 119.205 11.3415 119.608 11.3415C119.826 11.3415 120.042 11.2173 120.662 10.6283C123.637 7.77783 124.504 7.406 124.752 7.406L124.907 7.406L124.907 7.49909C124.907 7.65424 124.69 8.45942 122.025 11.6823ZM29.4378 16.7022C29.4378 14.3466 31.6062 11.5271 36.0371 8.0571C35.4796 8.0571 34.9532 7.87092 34.4262 7.53013L31.2964 10.753C30.9246 11.1558 30.6769 11.2794 30.4292 11.2794C30.0574 11.2794 29.7781 11.0007 29.7781 10.6283C29.7781 10.4116 29.8402 10.2875 30.5838 9.48234C31.6378 8.33583 32.6601 7.1583 33.7136 6.01126C33.7756 4.64808 34.7359 3.25387 35.7273 3.25387C36.5646 3.25387 37.0605 3.74981 37.0605 4.55552C37.0605 5.05093 36.8428 5.57791 36.3784 6.19744C36.6261 6.229 36.8428 6.2595 37.029 6.2595C38.1134 6.2595 39.0743 5.73306 39.6633 5.73306C40.1592 5.73306 40.469 6.07385 40.469 6.53877C40.469 6.81697 40.2828 7.1583 39.384 8.08759C33.652 14.0063 32.3814 16.2373 32.3814 17.105C32.3814 17.2907 32.4435 17.3838 32.6912 17.3838C34.1164 17.3838 41.0265 12.488 41.7701 10.1639C42.6689 7.31291 45.1786 5.05093 48.3699 5.05093C51.5617 5.05093 53.4829 7.03418 53.4829 10.4737C53.4829 11.1863 53.3898 11.961 53.2352 12.7667L44.0321 12.7667L44.0011 13.1075C44.0011 15.4005 45.0545 16.6401 46.9757 16.6401C48.3394 16.6401 49.4549 16.0511 49.9813 14.812L52.6461 14.812C51.6858 17.5699 49.5169 19.0567 46.8516 19.0567C43.4431 19.0567 41.4604 16.7953 41.4604 13.0765C37.3387 17.3217 34.209 19.2118 31.5757 19.2118C30.3976 19.2118 29.4378 18.313 29.4378 16.7022ZM144.305 16.7953C144.305 17.9107 144.862 19.2118 147.558 19.2118C156.699 19.2118 161.502 13.4173 160.325 6.38362C160.231 5.82615 158.868 5.7015 159.054 6.32156C160.48 11.0627 156.513 16.2062 152.516 17.0119C154.189 15.1218 155.367 13.0765 155.367 10.8145C155.367 9.63749 154.84 8.30427 153.756 6.75545C154.344 6.04282 154.624 5.4233 154.624 4.89578C154.624 4.18317 154.189 3.74981 153.508 3.74981C152.609 3.74981 151.928 4.49293 151.896 6.01126C149.975 8.24274 148.643 9.76108 147.93 10.4737C147.465 10.9386 147.311 11.1863 147.311 11.403C147.311 11.7754 147.558 12.0541 147.93 12.0541C148.147 12.0541 148.271 11.992 148.984 11.3104C149.665 10.6599 150.781 9.48234 152.361 7.65425C152.671 8.24274 152.826 8.83178 152.826 9.41974C152.826 11.2173 152.082 13.046 150.626 14.8741C149.2 16.6401 147.93 17.6004 146.783 17.6004C145.947 17.6004 145.947 17.2602 145.947 17.2286C145.947 16.8878 146.319 16.7953 146.598 16.7953C147.868 16.7953 148.054 15.8965 148.054 15.4936C148.054 14.7499 147.558 14.285 146.722 14.285C146.071 14.285 145.482 14.5643 145.018 15.0907C144.552 15.6172 144.305 16.2062 144.305 16.7953ZM78.5203 18.7469L84.7178 10.7835C86.639 8.30427 86.7936 7.65424 86.7936 7.49909L86.7936 7.406L86.6695 7.406C86.4833 7.406 85.585 7.65424 82.1145 10.9076C81.8978 11.1558 81.6496 11.2794 81.4019 11.2794C80.9369 11.2794 80.7513 10.9696 80.7513 10.6904L80.7513 10.5668L80.7818 10.4737C80.9064 10.0708 81.3093 9.66798 81.8357 9.17257C82.5794 8.49045 83.3541 7.77783 84.1288 7.09624C85.3063 6.07385 86.2666 5.6084 87.0723 5.6084C88.374 5.6084 89.1176 6.29053 89.1176 7.49909C89.1176 7.7468 89.0866 7.9945 89.0245 8.27378C91.2865 6.47617 93.0215 5.6084 94.2921 5.6084C95.5323 5.6084 96.2449 6.32156 96.2449 7.56115C96.2449 7.71577 96.2133 7.90195 96.1518 8.14965C98.1035 6.41411 99.6534 5.6084 100.83 5.6084C102.845 5.6084 103.154 6.87903 103.154 7.65424C103.154 8.6456 102.534 9.97775 101.202 11.7133L98.5063 15.2143C97.4219 16.6401 97.2357 17.074 97.2357 17.2907C97.2357 17.4768 97.3909 17.5699 97.7627 17.5699C99.3741 17.5699 105.23 11.6512 105.726 9.94725C106.563 7.03418 108.794 5.05093 112.048 5.05093C115.239 5.05093 117.13 7.03418 117.13 10.4737C117.13 11.1863 117.067 11.961 116.912 12.7667L107.709 12.7667L107.679 13.1075C107.679 15.4005 108.732 16.6401 110.653 16.6401C112.017 16.6401 113.132 16.0511 113.659 14.812L116.324 14.812C115.332 17.5699 113.194 19.0567 110.529 19.0567C107.121 19.0567 105.138 16.7953 105.138 13.0765C101.202 17.9412 98.4133 19.4596 96.7713 19.4596C95.253 19.4596 94.3852 18.6538 94.3852 17.1976C94.3852 16.2373 94.9117 15.0907 95.9346 13.7891L98.5374 10.4432C100.211 8.27378 100.304 7.87092 100.304 7.59165C100.304 7.46806 100.273 7.406 100.025 7.406C98.6615 7.406 93.1146 13.2626 91.8755 14.9356L89.0866 18.7469L85.2132 18.7469L91.4101 10.7835C93.1767 8.49045 93.5175 7.9945 93.5175 7.7468C93.5175 7.65424 93.4864 7.53012 93.2077 7.53012C91.5653 7.53012 86.7005 12.8282 85.0891 14.9356L82.1455 18.7469L78.5203 18.7469ZM2.78896 18.7469L0 18.7469L3.09872 5.29864L5.88768 5.29864L5.32967 7.62268C6.19744 6.04282 7.62268 5.14402 9.35822 5.14402L10.4116 5.14402L9.79211 7.77783L8.95537 7.77783C6.56927 7.77783 4.98888 9.10998 4.40037 11.8058L2.78896 18.7469ZM18.3136 7.25139C16.5775 7.25139 13.2006 11.0312 12.0535 12.8598C15.1218 12.0231 18.6849 9.45131 18.6849 7.59165C18.6849 7.49909 18.6849 7.25139 18.3136 7.25139ZM50.8491 10.7214L44.4039 10.7214C44.993 8.39736 46.3872 7.406 48.2153 7.406C49.9503 7.406 50.9111 8.33583 50.9111 10.0403C50.9111 10.2255 50.8801 10.4116 50.8491 10.7214ZM108.082 10.7214L114.526 10.7214C114.557 10.4116 114.588 10.2255 114.588 10.0403C114.588 8.33583 113.597 7.406 111.893 7.406C110.064 7.406 108.701 8.42892 108.082 10.7214Z"
                        transform="translate(0 2)" id="wordmark" fill="#191919" fill-rule="evenodd" stroke="none"></path>
                    </g>
                  </svg>                
                </a>
                <!-- <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a> -->
                {% endif %}
                {% if request.page_type == 'index' %}
            </h1>
            {% else %}
          </div>
          {% endif %}
        </div>
        
        {% if section.settings.align_logo == 'left' %}
        <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
          {% include 'site-nav', linklist: section.settings.main_linklist %}
        </nav>
        {% endif %}
        
    <!-- <div class="grid__item {% if section.settings.align_logo == 'left' %}medium-up--one-quarter{% else %}medium-up--one-third medium-up--push-one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
          <div class="site-header__icons-wrapper">
        
            <button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top"
              data-predictive-search-open-drawer>
              {% include 'icon-search' %}
              <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
            </button>
        
            {% if shop.customer_accounts_enabled %}
            {% if customer %}
            <a href="{{ routes.account_url }}" class="site-header__icon site-header__account">
              {% include 'icon-login' %}
              <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
            </a>
            {% else %}
            <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">
              {% include 'icon-login' %}
              <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
            </a>
            {% endif %}
            {% endif %}
        
            <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart">
              {% include 'icon-cart' %}
              <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
              <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %} critical-hidden"
                data-cart-count-bubble>
                <span data-cart-count>{{ cart.item_count }}</span>
                <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count
                  }}</span>
              </div>
            </a>
        
            {% unless linklists[section.settings.main_linklist] == blank %}
            <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open"
              aria-controls="MobileNav" aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}">
              {% include 'icon-hamburger' %}
              {% include 'icon-close' %}
            </button>
            {% endunless %}
          </div>

        </div> -->

      </div>

      <!-- icons -->
      <div class="grid__item medium-up--one-third text-right site-header__icons site-header__icons--plus">
        <div class="site-header__icons-wrapper">

          <button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top"
            data-predictive-search-open-drawer>
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>

          {% if shop.customer_accounts_enabled %}
          {% if customer %}
          <a href="{{ routes.account_url }}" class="site-header__icon site-header__account">
            {% include 'icon-login' %}
            <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
          </a>
          {% else %}
          <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">
            {% include 'icon-login' %}
            <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
          </a>
          {% endif %}
          {% endif %}

          <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart">
            {% include 'icon-cart' %}
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %} critical-hidden"
              data-cart-count-bubble>
              <span data-cart-count>{{ cart.item_count }}</span>
              <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count
                }}</span>
            </div>
          </a>

          {% unless linklists[section.settings.main_linklist] == blank %}
          <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open"
            aria-controls="MobileNav" aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}">
            {% include 'icon-hamburger' %}
            {% include 'icon-close' %}
          </button>
          {% endunless %}
        </div>
      </div>
                      
      
      
      
      <nav class="mobile-nav-wrapper medium-up--hide critical-hidden" role="navigation">
        <ul id="MobileNav" class="mobile-nav">
          {% for link in linklists[section.settings.main_linklist].links %}
          {%- assign outerLoopIndex = forloop.index -%}
      
          <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
            {% if link.links != blank %}
            {% capture child_list_handle %}{{ link.handle }}-{{ outerLoopIndex }}{% endcapture %}
            <button type="button"
              class="btn--link js-toggle-submenu mobile-nav__link{% if link.child_active %} mobile-nav__link--active{% endif %}"
              data-target="{{ child_list_handle }}" data-level="1" aria-expanded="false">
              <span class="mobile-nav__label">{{ link.title | escape }}</span>
              <div class="mobile-nav__icon">
                {% include 'icon-chevron-right' %}
              </div>
            </button>
            <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
              <li class="visually-hidden" tabindex="-1" data-menu-title="2">
                {{- link.title }} {{ 'layout.navigation.menu' | t -}}
              </li>
              <li class="mobile-nav__item border-bottom">
                <div class="mobile-nav__table">
                  <div class="mobile-nav__table-cell mobile-nav__return">
                    <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button" aria-expanded="true"
                      aria-label="{{ link.title }}">
                      {% include 'icon-chevron-left' %}
                    </button>
                  </div>
                  <span
                    class="mobile-nav__sublist-link mobile-nav__sublist-header mobile-nav__sublist-header--main-nav-parent">
                    <span class="mobile-nav__label">{{ link.title | escape }}</span>
                  </span>
                </div>
              </li>
      
              {% for childlink in link.links %}
              <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                {% if childlink.links != blank %}
                {% capture grandchild_list_handle %}{{ childlink.handle }}-{{ outerLoopIndex }}-{{ forloop.index }}{%
                endcapture %}
                <button type="button" class="btn--link js-toggle-submenu mobile-nav__link mobile-nav__sublist-link"
                  data-target="{{ grandchild_list_handle }}" aria-expanded="false">
                  <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                  <div class="mobile-nav__icon">
                    {% include 'icon-chevron-right' %}
                  </div>
                </button>
                <ul class="mobile-nav__dropdown" data-parent="{{ grandchild_list_handle }}" data-level="3">
                  <li class="visually-hidden" tabindex="-1" data-menu-title="3">
                    {{- childlink.title }} {{ 'layout.navigation.menu' | t -}}
                  </li>
                  <li class="mobile-nav__item border-bottom">
                    <div class="mobile-nav__table">
                      <div class="mobile-nav__table-cell mobile-nav__return">
                        <button type="button" class="btn--link js-toggle-submenu mobile-nav__return-btn"
                          data-target="{{ child_list_handle }}" aria-expanded="true" aria-label="{{ childlink.title }}">
                          {% include 'icon-chevron-left' %}
                        </button>
                      </div>
                      <a href="{{ childlink.url }}" class="mobile-nav__sublist-link mobile-nav__sublist-header" {% if
                        childlink.current %} aria-current="page" {% endif %}>
                        <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                      </a>
                    </div>
                  </li>
                  {% for grandchildlink in childlink.links %}
                  <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                    <a href="{{ grandchildlink.url }}" class="mobile-nav__sublist-link" {% if grandchildlink.current %}
                      aria-current="page" {% endif %}>
                      <span class="mobile-nav__label">{{ grandchildlink.title | escape }}</span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <a href="{{ childlink.url }}" class="mobile-nav__sublist-link" {% if childlink.current %} aria-current="page"
                  {% endif %}>
                  <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                </a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <a href="{{ link.url }}" class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}" {% if
              link.current %} aria-current="page" {% endif %}>
              <span class="mobile-nav__label">{{ link.title | escape }}</span>
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>

    </div>

  </header>

  <!-- {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', linklist: section.settings.main_linklist, wrapper_class: 'site-nav--centered' %}
  </nav>
  {% endif %} -->
</div>



<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

{% schema %}
{
  "name": {
    "cs": "Záhlaví",
    "da": "Overskrift",
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "ko": "헤더",
    "nb": "Header",
    "nl": "Koptekst",
    "pl": "Nagłówek",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "tr": "Üstbilgi",
    "vi": "Đầu trang",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
    {
      "type": "radio",
      "id": "align_logo",
      "label": {
        "cs": "Zarovnání loga",
        "da": "Logojustering",
        "de": "Logo-Ausrichtung",
        "en": "Logo alignment",
        "es": "Alineación de logo",
        "fi": "Logon tasaus",
        "fr": "Alignement du logo",
        "it": "Allineamento logo",
        "ja": "ロゴアラインメント",
        "ko": "로고 정렬",
        "nb": "Logojustering",
        "nl": "Logo-uitlijning",
        "pl": "Wyrównanie logo",
        "pt-BR": "Alinhamento do logo",
        "pt-PT": "Alinhamento do logótipo",
        "sv": "Logojustering",
        "th": "การจัดวางโลโก้",
        "tr": "Logo hizalaması",
        "vi": "Căn chỉnh logo",
        "zh-CN": "logo 对齐方式",
        "zh-TW": "商標對齊"
      },
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": {
            "cs": "Doleva",
            "da": "Venstre",
            "de": "Links",
            "en": "Left",
            "es": "Izquierda",
            "fi": "Vasen",
            "fr": "Gauche",
            "it": "Sinistra",
            "ja": "左",
            "ko": "왼쪽",
            "nb": "Venstre",
            "nl": "Links",
            "pl": "Do lewej",
            "pt-BR": "Esquerda",
            "pt-PT": "Esquerda",
            "sv": "Vänster",
            "th": "ด้านซ้าย",
            "tr": "Sol",
            "vi": "Bên trái",
            "zh-CN": "左侧",
            "zh-TW": "左方"
          }
        },
        {
          "value": "center",
          "label": {
            "cs": "Na střed",
            "da": "Centreret",
            "de": "Mittig",
            "en": "Centered",
            "es": "Centrada",
            "fi": "Keskitetty",
            "fr": "Centré",
            "it": "Centrato",
            "ja": "中央揃え",
            "ko": "센터 맞추기",
            "nb": "Sentrert",
            "nl": "Gecentreerd",
            "pl": "Wyśrodkowane",
            "pt-BR": "Centralizado",
            "pt-PT": "Centrado",
            "sv": "Centrera",
            "th": "ตรงกลาง",
            "tr": "Orta",
            "vi": "Giữa",
            "zh-CN": "居中",
            "zh-TW": "置中"
          }
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "cs": "Obrázek loga",
        "da": "Logobillede",
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logo",
        "fi": "Logokuva",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "ko": "로고 이미지",
        "nb": "Logobilde",
        "nl": "Afbeelding van logo",
        "pl": "Obraz logo",
        "pt-BR": "Imagem do logo",
        "pt-PT": "Imagem do logótipo",
        "sv": "Logobild",
        "th": "รูปภาพโลโก้",
        "tr": "Logo görseli",
        "vi": "Hình ảnh logo",
        "zh-CN": "logo 图片",
        "zh-TW": "標誌圖片"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "cs": "Šířka vlastního loga",
        "da": "Tilpasset logobredde",
        "de": "Logobreite",
        "en": "Custom logo width",
        "es": "Ancho del logo personalizado",
        "fi": "Mukautetun logon leveys",
        "fr": "Largeur personnalisée du logo",
        "it": "Larghezza logo personalizzato",
        "ja": "ロゴの幅をカスタマイズする",
        "ko": "사용자 지정 로고 폭",
        "nb": "Tilpasset logobredde",
        "nl": "Aangepaste logo-breedte",
        "pl": "Niestandardowa szerokość logo",
        "pt-BR": "Largura do logo personalizado",
        "pt-PT": "Largura de logótipo personalizada",
        "sv": "Anpassad logotypsbredd",
        "th": "ความกว้างของโลโก้แบบกำหนดเอง",
        "tr": "Özel logo genişliği",
        "vi": "Chiều rộng logo tùy chỉnh",
        "zh-CN": "自定义 logo 宽度",
        "zh-TW": "自訂商標寬度"
      },
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "cs": "Nabídka",
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "tr": "Menü",
        "vi": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": {
        "cs": "Panel oznámení",
        "da": "Meddelelseslinje",
        "de": "Ankündigungsbereich",
        "en": "Announcement bar",
        "es": "Barra de anuncios",
        "fi": "Ilmoituspalkki",
        "fr": "Barre d'annonces",
        "it": "Barra degli annunci",
        "ja": "告知バー",
        "ko": "공지 표시줄",
        "nb": "Kunngjøringslinje",
        "nl": "Aankondigingsbalk",
        "pl": "Pasek ogłoszeń",
        "pt-BR": "Barra de avisos",
        "pt-PT": "Barra de comunicado",
        "sv": "Meddelandefält",
        "th": "แถบประกาศ",
        "tr": "Duyuru çubuğu",
        "vi": "Thanh thông báo",
        "zh-CN": "公告栏",
        "zh-TW": "公告列"
      }
    },
    {
      "type": "checkbox",
      "id": "message",
      "label": {
        "cs": "Zobrazit oznámení",
        "da": "Vis meddelelse",
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "es": "Mostrar anuncio",
        "fi": "Näytä ilmoitus",
        "fr": "Afficher l'annonce",
        "it": "Mostra annuncio",
        "ja": "告知を表示する",
        "ko": "공지 표시",
        "nb": "Vis kunngjøring",
        "nl": "Aankondiging weergeven",
        "pl": "Pokaż ogłoszenie",
        "pt-BR": "Exibir comunicado",
        "pt-PT": "Mostrar comunicado",
        "sv": "Visa tillkännagivande",
        "th": "แสดงประกาศ",
        "tr": "Duyuruyu göster",
        "vi": "Hiển thị thông báo",
        "zh-CN": "显示公告",
        "zh-TW": "顯示公告"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "cs": "Jen domovská stránka",
        "da": "Kun startside",
        "de": "Nur Startseite",
        "en": "Home page only",
        "es": "Solo página de inicio",
        "fi": "Vain etusivu",
        "fr": "Page d'accueil uniquement",
        "it": "Solo home page",
        "ja": "ホームページのみ",
        "ko": "홈페이지만",
        "nb": "Kun på startsiden",
        "nl": "Alleen homepage",
        "pl": "Tylko strona główna",
        "pt-BR": "Apenas na página inicial",
        "pt-PT": "Apenas a página inicial",
        "sv": "Endast hemsida",
        "th": "หน้าแรกเท่านั้น",
        "tr": "Yalnızca ana sayfa",
        "vi": "Chỉ trang chủ",
        "zh-CN": "仅主页",
        "zh-TW": "僅限首頁"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "message_text",
      "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "cs": "Tady můžete zadat oznámení",
        "da": "Meddel noget her",
        "de": "Hier etwas ankündigen",
        "en": "Announce something here",
        "es": "Anuncia algo aquí",
        "fi": "Ilmoita jotakin tässä",
        "fr": "Annoncez quelque chose ici",
        "it": "Annuncia qualcosa qui",
        "ja": "ここで告知してください",
        "ko": "여기에 공지하십시오",
        "nb": "Kunngjør noe her",
        "nl": "Kondig hier iets aan",
        "pl": "Ogłoś coś tutaj",
        "pt-BR": "Anuncie algo aqui",
        "pt-PT": "Anunciar algo aqui",
        "sv": "Meddela något här",
        "th": "ประกาศข้อความที่นี่",
        "tr": "Buraya bir duyuru ekleyin",
        "vi": "Thông báo điều gì đó tại đây",
        "zh-CN": "在此处进行公告",
        "zh-TW": "在此公告資訊"
      }
    },
    {
      "type": "url",
      "id": "message_link",
      "label": {
        "cs": "Odkaz",
        "da": "Link",
        "de": "Link",
        "en": "Link",
        "es": "Enlace",
        "fi": "Linkki",
        "fr": "Lien",
        "it": "Link",
        "ja": "リンク",
        "ko": "링크",
        "nb": "Kobling",
        "nl": "Link",
        "pl": "Link",
        "pt-BR": "Link",
        "pt-PT": "Ligação",
        "sv": "Länk",
        "th": "ลิงก์",
        "tr": "Bağlantı",
        "vi": "Liên kết",
        "zh-CN": "链接",
        "zh-TW": "連結"
      },
      "info": {
        "cs": "Volitelné",
        "da": "Valgfri",
        "de": "Optional",
        "en": "Optional",
        "es": "Opcional",
        "fi": "Valinnainen",
        "fr": "Facultatif",
        "it": "Facoltativo",
        "ja": "オプション",
        "ko": "선택 사항",
        "nb": "Valgfritt",
        "nl": "Optioneel",
        "pl": "Opcjonalnie",
        "pt-BR": "Opcional",
        "pt-PT": "Opcional",
        "sv": "Valfritt",
        "th": "ไม่จำเป็น",
        "tr": "İsteğe bağlı",
        "vi": "Không bắt buộc",
        "zh-CN": "可选",
        "zh-TW": "(選填)"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "cs": "Panel",
        "da": "Bjælke",
        "de": "Zeile",
        "en": "Bar",
        "es": "Barra",
        "fi": "Palkki",
        "fr": "Barre",
        "it": "Barra",
        "ja": "バー",
        "ko": "바",
        "nb": "Felt",
        "nl": "Balk",
        "pl": "Pasek",
        "pt-BR": "Barra",
        "pt-PT": "Barra",
        "sv": "Fält",
        "th": "แถบ",
        "tr": "Çubuk",
        "vi": "Thanh",
        "zh-CN": "栏",
        "zh-TW": "橫條"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
